<div class="container mt-4">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Channel</th>
          <th>Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series">
          <td>{{ serie.id }}</td>
          <td>{{ serie.name }}</td>
          <td>{{ serie.channel }}</td>
          <td>{{ serie.seasons }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-end fw-bold">
      Season Average: {{ promedio | number:'1.1-1' }}
    </div>
  </div>
  